In [16]:
import pybaseball
import pandas as pd
from pybaseball import playerid_lookup
from pybaseball import statcast_batter

In [17]:
playerid_lookup('trout', 'mike')

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,trout,mike,545361,troum001,troutmi01,10155,2011.0,2021.0

In [22]:
trout_stats = statcast_batter('2018-06-01', '2018-07-01', 545361)
df = pd.DataFrame(trout_stats)
pd.set_option("display.max_columns", None)
launchangle = df["launch_angle"]
exitvelocity = df["launch_speed"]
d = {"Launch Angle": launchangle, "Exit Velocity": exitvelocity}
dfnew = pd.DataFrame(data=d)
dfnew.head(5)

Gathering Player Data

   Launch Angle  Exit Velocity
0           NaN            NaN
1          56.0           68.3
2           NaN            NaN
3           NaN            NaN
4          21.0           75.0